*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color:rgb(9, 179, 182) ;
    /* border: 2px solid rgb(9, 179, 182); */
}

@media screen and (max-width:425px){
    .container{
        background-color: rgb(222, 24, 24);
    }
}
@media screen and (min-width:426px)and (max-width:768px){
    .container{
        background-color: rgb(28, 38, 224);
    }
}
@media screen and (min-width:769px)and (max-width:1024px){
    .container{
        background-color: rgb(11, 5, 5);
    }
}
 @media screen and (min-width:1025px)and (max-width:1440px){
    .container{
        background-color: rgb(129, 228, 22);
    }
} 